.TranslationWord {
  display: inline-flex;
  border-radius: var(--ds-radius-md);
  box-shadow: inset 0 -5px 0 -3.5px transparent;
  transition: 0.3s ease;
}

/* Better for copy/pasting, but leads to jank when selecting/de-selecting */
/* .TranslationWord:is(.selected, .selectedRoot) {
  display: inline-flex;
} */

.TranslationWord.hasEntry:not(.relatedRoot):not(:has(.highlight-strong)):not(
    :has(.highlight-soft)
  ) {
  box-shadow:
    inset 0 -1em 0 -0.8em var(--ds-bg-page-lit),
    inset 0 -1em 0 -0.7em var(--ds-bg-container-low-contrast);
}

/* Additional wrapper for selected word, to help encapsulate construction info */
/* .TranslationWord.selected {
  background-color: var(--ds-bg-container);
  padding: var(--ds-space-1);
} */

.Word {
  width: max-content;
  border-radius: var(--ds-radius-md);
  /* user-select: none; */
  transition: 0.3s ease;
}

.relatedRoot .Word {
  background: repeating-linear-gradient(
    -45deg,
    var(--ds-bg-container),
    var(--ds-bg-container) 4px,
    transparent 4px,
    transparent 8px
  );
  padding: var(--ds-space-1);
  font-weight: 600;
}

.TranslationWord:focus-visible {
  outline: 2px solid var(--ds-mg-border);
}
