.header {
  position: sticky;
  z-index: 50;
  bottom: 0;
  inset-inline: 0;
}

@media (display-mode: standalone) {
  .header {
    padding-block-end: 1em;
    height: calc(var(--header-max-height) + 1em);
  }
}

.headerContent {
  position: relative;
  height: var(--header-max-height);
  background-color: var(--ds-bg-page);
  border-radius: var(--ds-radius-xl) var(--ds-radius-xl) 0 0;
  border: 1px solid var(--ds-bg-container);
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--ds-space-6);
  max-width: var(--text-content-max-width);
  margin: 0 auto;
}

@media (display-mode: standalone) {
  /* Extend the header element to the bottom of the screen when in standalone/app mode */
  .headerContent::before {
    content: '';
    display: block;
    position: absolute;
    inset-inline: -1px;
    top: 100%;
    height: 1em;
    border-inline: 1px solid var(--ds-bg-container);
    background-color: var(--ds-bg-page);
  }
}

.appTitleContainer {
  display: flex;
  align-items: center;
  gap: var(--ds-space-2);
  color: var(--ds-fg-low-contrast);
}

.appTitle {
  font-size: 1rem;
}

.appTitleContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--ds-space-2);
}
